@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    /*========== Font and typography ==========*/
    --font-family: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}

html,
body {
    font-family: var(--font-family);
    overflow-x: hidden;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section {
    padding: 90px 0;
    display: block;
}

/* ===================== Menu Toggle =======================*/

@media (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
}

.menu-toggle {
    float: right;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
}

.menu-toggle span {
    display: block;
    background-color: #ff0077;
    width: 24px;
    height: 3px;
    margin-top: -1.5px;
    /* font: 0/0 a; */
    text-shadow: none;
    color: transparent;
    position: absolute;
    right: 8px;
    top: 50%;
    bottom: auto;
    left: auto;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.menu-toggle span::before,
.menu-toggle span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
    -moz-transition-duration: 0.2s, 0.2s;
    -o-transition-duration: 0.2s, 0.2s;
    -webkit-transition-duration: 0.2s, 0.2s;
    -ms-transition-duration: 0.2s, 0.2s;
    transition-duration: 0.2s, 0.2s;
    -moz-transition-delay: 0.2s, 0s;
    -o-transition-delay: 0.2s, 0s;
    -webkit-transition-delay: 0.2s, 0s;
    -ms-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.menu-toggle span::before {
    top: -8px;
    -moz-transition-property: top, transform;
    -o-transition-property: top, transform;
    -webkit-transition-property: top, transform;
    -ms-transition-property: top, transform;
    transition-property: top, transform;
}
.menu-toggle span::after {
    bottom: -8px;
    -moz-transition-property: bottom, transform;
    -o-transition-property: bottom, transform;
    -webkit-transition-property: bottom, transform;
    -ms-transition-property: bottom, transform;
    transition-property: bottom, transform;
}

.menu-toggle a:hover,
.menu-toggle a:focus,
.menu-toggle a:active {
    color: #ff0077;
    outline: 0;
}
.menu-toggle a,
.menu-toggle a:visited {
    color: #000000;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* is clicked */
.menu-toggle.is-clicked span {
    background-color: rgba(255, 0, 119, 0);
}
.menu-toggle.is-clicked span::before,
.menu-toggle.is-clicked span::after {
    background-color: #ff0077;
    -moz-transition-delay: 0s, 0.2s;
    -o-transition-delay: 0s, 0.2s;
    -webkit-transition-delay: 0s, 0.2s;
    -ms-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}
.menu-toggle.is-clicked span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu-toggle.is-clicked span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* ===================== Navbar =======================*/
@media only screen and (min-width: 990px) {
    .bg-intro {
        min-height: 790px;
    }
}
@media only screen and (min-width: 359px) {
    .bg-intro {
        min-height: 660px;
    }
}

.bg-intro {
    max-height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.3);
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
}
.navbar-brand img {
    width: 130px;
}
.navbar .nav-item a {
    font-size: 17px;
    font-weight: var(--font-medium);
    margin-left: 20px;
}
/* ===================== Intro Section =======================*/
.intro-content {
    vertical-align: middle;
    text-align: center;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
}
.intro-content h1 {
    color: #ffffff;
    font-size: 3rem;
    line-height: 1.071;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
    color: #cc005f;
    font-size: 2.3rem;
    line-height: 1.565;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #ffffff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
    display: inline-block;
}
/* .intro-content .intro-position span::after {
    content: '|';
    text-align: center;
    display: inline-block;
    padding: 0 8px 0 14px;
    color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
    content: '|';
    text-align: center;
    display: inline-block;
    padding: 0 14px 0 8px;
    color: rgba(255, 255, 255, 0.3);
} */

.intro-content .button {
    color: #ffffff !important;
    border-color: rgba(163, 163, 163, 0.3);
    /* height: 6rem !important; */
    line-height: 3.5rem !important;
    padding: 0 3.5rem 0 3rem !important;
    margin-top: 2rem;
    /* font-size: 1.3rem; */
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.button.stroke {
    background: transparent !important;
    border: 2px solid #cc005f;
    line-height: 4.8rem;
}

.intro-content .button:hover,
.intro-content .button:focus {
    border-color: #ff0077;
}
.intro-content .button::after {
    display: inline-block;
    content: '\f107';
    font-family: fontAwesome;
    font-size: 1.6rem;
    line-height: inherit;
    text-align: center;
    position: relative;
    left: 1.2rem;
}

.intro-social {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 2rem;
    margin-top: 40px;
    padding: 0;
}
.intro-social li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}
.intro-social li a,
.intro-social li a:visited {
    color: #ffffff;
}
.intro-social li a:hover,
.intro-social li a:focus {
    color: #cc005f;
}

/* ===================== Intro Section Responsive =======================*/
@media only screen and (max-width: 1024px) {
    .intro-content h1 {
        font-size: 2.6rem;
    }
    .intro-social {
        font-size: 2rem;
    }
    .intro-social li {
        margin: 0 15px;
    }
}
@media only screen and (max-width: 768px) {
    -content h1 {
        font-size: 1.2rem;
    }
    .intro-content h5 {
        font-size: 1.8rem;
    }
    .intro-content .intro-position {
        font-size: 1.3rem;
    }
    .intro-social {
        font-size: 1.9rem;
    }
    .intro-social li {
        margin: 0 10px;
    }
}
@media only screen and (max-width: 600px) {
    .intro-content h1 {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0.6rem;
    }
    .intro-content h5 {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
        letter-spacing: 0.2rem;
    }
    .intro-content .intro-position {
        font-size: 1.2rem;
    }
    .intro-content .intro-position span {
        padding: 0 0.6rem;
    }
    .intro-content .intro-position span::before,
    .intro-content .intro-position span::after {
        display: none !important;
    }
    .intro-social {
        font-size: 1.6rem;
    }
}

/* ===================== About Section =======================*/
#about {
    padding-top: 12rem;
}
#about .aboutMe h4 {
    color: #cc005f;
    font-weight: var(--font-semi-bold);
    letter-spacing: 1px;
}
#about .aboutMe h3 {
    letter-spacing: 1px;
}
.section-intro {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.6rem;
    position: relative;
}

.intro-info {
    margin-top: 4.2rem;
    margin-right: -30px;
    margin-left: -30px;
}
.intro-info img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 0.9rem 0 0 0;
    float: left;
}
.intro-info .lead {
    text-align: left;
    padding-left: 13rem;
}

.button-section .resumeLink:hover {
    color: #ffffff;
}

#about .resumeLink {
    margin-top: 20px;
    background-color: #cc005f;
    padding: 15px;
    border-radius: 40px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: var(--font-medium);
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

/* ===================== Responsive About =======================*/
@media only screen and (max-width: 1024px) {
    .intro-info {
        margin-right: 0;
        margin-left: 0;
    }
}
@media only screen and (max-width: 768px) {
    .intro-info {
        text-align: center;
        margin-top: 3rem;
    }
    .intro-info img {
        height: 10rem;
        width: 10rem;
        float: none;
        display: inline-block;
    }
    .intro-info .lead {
        padding-left: 0;
        text-align: center;
        margin-top: 20px;
    }
    .about-content h3 {
        text-align: center;
    }
    .about-content .info-list,
    .about-content .skill-bars {
        margin-bottom: 4.2rem;
    }
    .button-section .button {
        width: 100%;
        margin-bottom: 3rem;
    }
    .button-section [class*='col-'] .button:first-child {
        margin-right: 0;
    }
}
@media only screen and (max-width: 600px) {
    .intro-info {
        text-align: center;
        margin-top: 3rem;
    }
    .intro-info img {
        height: 10rem;
        width: 10rem;
        float: none;
        display: inline-block;
    }
    .intro-info .lead {
        padding-left: 0;
        font-size: 17px;
        text-align: center;
        margin-top: 20px;
    }
    #about .button-section .resume-me .resumeLink {
        font-size: 0.9rem;
        padding: 10px;
    }
    /* #about .button-section .resume-me .resumeLink a {
        font-size: 0.4;
    } */
}

/* ===================== Skills Section =======================*/

#skills .section-skills h4 {
    color: #cc005f;
    font-weight: var(--font-semi-bold);
    letter-spacing: 1px;
}
#skills .section-skills h3 {
    letter-spacing: 1px;
}

.skillsContainer {
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}
.skillGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    column-gap: 70px;
    row-gap: 50px;
    padding: 6px;
}
ol,
ul {
    list-style: none;
}
.skillGrid li {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    width: 120px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 0px 4px 8px rgba(7, 4, 4, 0.1);
    box-shadow: 0px 4px 8px rgba(7, 4, 4, 0.1);
    border: 1px solid #eee;
}

.skillGrid li img {
    margin-bottom: 10%;
    width: 50px;
    height: 50px;
}

@media (max-width: 767px) {
    .skillGrid li img {
        width: 30px;
        height: 30px;
    }
}

/* ===================== Project Section =======================*/
#project .projectHead h4 {
    color: #cc005f;
    font-weight: var(--font-semi-bold);
    letter-spacing: 1px;
}

#project .projectHead h3 {
    letter-spacing: 1px;
}

.workDescription h3 {
    font-size: 21px;
    letter-spacing: 1px;
    margin-left: 40px;
}
.workDescription h4 {
    font-size: 18px;
    letter-spacing: 0.1rem;
    margin-left: 40px;
}
.workDescription h4 span {
    color: #cc005f;
}
.workBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    margin-top: 40px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 8px 15px 10px rgba(255, 255, 255, 0.1);
    border: 1px solid #eee;
    background: #ffffff;
}

.workBox:first-child {
    margin-top: 0;
}

.workBox .workImage {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;
    border-radius: 10px;
    height: auto;
}

.workBox .workImage img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.workBox .workDescription ul {
    list-style: disc inside;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.7rem;
    margin-top: 20px;
    margin-left: 10px;
}
.workBox .workLink {
    margin-left: 40px;
    font-weight: var(--font-medium);
    font-size: 18px;
}

.workBox .workLink a {
    margin-right: 40px;
    color: #cc005f;
    text-decoration: underline;
    letter-spacing: 0.1rem;
}
.workBox .workLink a:hover {
    color: #ff0077;
}
/* ===================== Responsive Project =======================*/

@media (max-width: 767px) {
    .section-project {
        background-color: transparent;
        padding: 50px;
    }
}

@media (max-width: 767px) {
    .workBox {
        display: block;
        padding: 0;
    }
}
@media (max-width: 767px) {
    .workBox .workDescription h3 {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .workBox .workDescription h4 {
        margin-left: 10px;
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .workBox .workDescription ul {
        margin-left: 0 !important;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .workDescription .workLink {
        margin-left: 10px !important;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .workBox .workImage {
        max-width: 500px;
        margin: 0 auto;
    }
}
/* ===================== Contact Section =======================*/
.contactMe h4 {
    text-align: center;
    color: #cc005f;
    font-weight: var(--font-semi-bold);
    letter-spacing: 1px;
}
.contactMe h3 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.contactTypes .flexContainer .typeBox {
    -webkit-box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border: 1px solid #eee;
    padding: 10px 24px;
    border-radius: 15px;
}
.contactTypes .flexContainer:first-child {
    padding: 0 40px 0 0;
}
.contactTypes .flexContainer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 45%;
    text-align: center;
    justify-content: center;
}
.contactTypes .flexContainer .typeBox i {
    display: inline-block;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 100px;
    font-size: 50px;
    margin-bottom: 20px;
}
.uil {
    display: inline-block;
    font: normal normal normal 1em/1 'LineIcons';
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.contactTypes .flexContainer .typeBox a {
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.contactTypes .flexContainer .typeBox a:hover {
    color: #cc005f;
}
.typeBox p {
    font-size: 15px;
}
.contactTypes .flexContainer:last-child {
    padding: 0 0 0 40px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

#formContact {
    margin-top: 45px;
}

.contactForm {
    max-width: 340px;
}

#formContact form {
    margin-top: 0;
    margin-bottom: 3rem;
    outline: 0px !important;
}
#formContact form .form-field {
    position: relative;
}
#formContact form .form-field:before,
#formContact form .form-field:after {
    content: '';
    display: table;
}
#formContact form .form-field:after {
    clear: both;
}
#formContact form .form-field label {
    font-size: 1.1rem;
    line-height: 2.4rem;
    position: absolute;
    bottom: -1.2rem;
    right: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0 2rem;
    margin: 0;
    background: #cc005f;
}
#formContact form .form-field label::after {
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #cc005f;
    content: '';
}
#formContact input[type='text'],
#formContact input[type='password'],
#formContact input[type='email'],
#formContact textarea {
    width: 100%;
    margin-bottom: 0;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#formContact input[type='text'],
#formContact input[type='password'],
#formContact input[type='email'] {
    height: 3rem;
    padding: 2.5rem 2rem;
}
#formContact input[type='text']:focus,
#formContact input[type='password']:focus,
#formContact input[type='email']:focus {
    border-color: #cc005f;
}
#formContact textarea {
    padding: 1.8rem 2rem;
}
#formContact textarea:focus {
    border-color: #cc005f;
}

#formContact button:focus {
    border-color: #cc005f;
}
#formContact button.submitform {
    width: 50%;
    font-size: 1.2rem;
    display: block;
    letter-spacing: 0.1rem;
    line-height: 3.1rem;
    margin-top: 4rem;
    background: #ff0077;
    border: none;
    border-radius: 0.5rem;
    font-weight: var(--font-semi-bold);
}
#formContact button.submitform:hover,
#formContact button.submitform:focus {
    background: #cc005f;
}

/* ===================== Responsive Contact =======================*/

@media (max-width: 767px) {
    .contactTypes .flexContainer .typeBox a {
        font-size: 12px;
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .contactTypes .flexContainer .typeBox i {
        font-size: 40px;
        max-width: 100%;
    }
}

/* ===================== FOOTER =======================*/
footer {
    padding: 20px;
    background-color: white;
    border-top: 1px solid rgb(168, 168, 168);
}
footer .copyright i {
    color: #cc005f;
}
footer p {
    width: 100%;
    color: #333;
    font-size: 1rem;
}
footer a {
    color: #333;
    font-weight: var(--font-medium);
}
footer a:hover {
    color: #cc005f;
}

footer .social .social-footer li {
    margin-right: 20px;
    font-size: 1.4rem;
}

/* footer .row {
    max-width: 1100px;
} */

/* @media (max-width: 768px) {
    footer .social .social-footer ul {
        justify-content: center;
        display: block;
    }
} */
/* 
.navbar-toggler-icon {
    color: #ff0077;
} */
